.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
    .Header-logo {
        animation: App-logo-sin infinite 20s linear;
    }
}

.header {
  background-color: #282c34;
  min-height: 30vh;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.Body {
    background-color:cadetblue;
    padding: 50px;
}

.body-goby, .body-angel, .testing{
    background-size: cover;
    background-position:right;
    padding: 10%,10%;
    overflow-wrap: break-word;

    text-align: right;
    color:azure;
   
    margin-top:2vw;
    margin-bottom: 2vw;
    width: 100%;
}

.testing:hover {
    background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), black),
    url(./bumble-goby.webp);
}

.nameheader{
    color: whitesmoke;
}

.body-angel {
    background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), black),
    url(./bumble-goby.webp);
    background-position:top;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
